# Application Settings
PROJECT_NAME="FastAPI Starter App"
API_V1_STR="/api/v1"
ENVIRONMENT="development"
DEBUG=true
BACKEND_CORS_ORIGINS=["http://localhost","http://localhost:8000","http://localhost:3000"]

# Security
SECRET_KEY="change-me-in-production"
ACCESS_TOKEN_EXPIRE_MINUTES=11520

# Database
DATABASE_URL="sqlite:///./sql_app.db"
